@font-face {
    src: url("../fonts/darkforest.ttf");
}

#background {
    -fx-background-color: rgba(45, 41, 38, 0.75);
}

#message {
    -fx-font-family: "dark forest";
    -fx-font-size: 20em;
}

.buttons {
    -fx-font-size: 5em;
    -fx-max-width: infinity;
}