@font-face {
    src: url("../fonts/forest_thing.ttf");
}

#buttonList {
    -fx-spacing: 3em;
    -fx-padding: 0 37.5em 0 37.5em;
}

#title {
    -fx-font-family: "FOREST THING";
    -fx-font-size: 9em;
    -fx-text-fill: rgb(143,89,2);
    -fx-padding: 7em 0 0 0;
}

.buttons {
    -fx-font-size: 5em;
    -fx-max-width: infinity;
}
