@font-face {
    src: url("../fonts/darkforest.ttf");
}

.texts {
    -fx-font-family: "dark forest";
    -fx-background-color: rgb(233,185,110);
    -fx-text-fill: rgb(143,89,2);
}

#buttonContainer {
    -fx-padding: 1em;
}

#backButton {
    -fx-font-size: 3em;
}
