@font-face {
    src: url("../fonts/darkforest.ttf");
}

#root {
    -fx-spacing: 10em;
}

#pageContainer {
    -fx-padding: 0 5em 0 5em;
    -fx-spacing: 1em;
}

.loadButtons {
    -fx-font-size: 7em;
    -fx-max-width: infinity;
    -fx-padding: 2em 0 2em 1em;
}

.deleteButtonsContainers {
    -fx-padding: 1em 0 0 0;
}

.deleteButtons {
    -fx-background-color: rgb(208, 28, 31);
    -fx-text-fill: #ECDDC8;
    -fx-font-family: "dark forest";
    -fx-font-size: 3em;
    -fx-effect: dropshadow(one-pass-box, #2D2926, 20, 0, 5, 5);
}

.deleteButtons:hover {
    -fx-background-color: derive(rgb(208, 28, 31), 20%); 
}

.buttons:disabled, .deleteButtons:disabled {
    -fx-opacity: 0.8;
    -fx-background-color: grey;
    -fx-text-fill: darkgray;
}

#buttonContainer {
    -fx-padding: 1em;
}

#backButton {
    -fx-font-size: 3em;
}
