@font-face {
    src: url("../fonts/darkforest.ttf");
}

#container {
    -fx-background-image: url("../images/bg_menu.jpg");
    -fx-background-repeat: round;
    -fx-background-size: cover;
    -fx-background-position: center center;
}

.texts {
    -fx-font-family: "dark forest";
    -fx-background-color: rgb(233,185,110);
    -fx-text-fill: rgb(143,89,2);
}

#buttonContainer {
    -fx-padding: 1em;
}

#backButton {
    -fx-font-size: 3em;
    -fx-effect: dropshadow(one-pass-box, black, 10, 0, 5, 5);
}

#backButton:hover {
    -fx-background-color: derive(rgb(233,185,110), 20%);
}