@font-face {
    src: url("../fonts/darkforest.ttf");
}

.cells {
    -fx-font-size: 5em;
    -fx-alignment: center;
    -fx-padding: 0.5em 4em 0.5em 4em;
}

.descriptions {
    -fx-font-family: "dark forest";
    -fx-background-color: rgb(233,185,110);
    -fx-text-fill: rgb(143,89,2);
    -fx-border-insets: 0.5em 0 0.5em 0;
    -fx-text-alignment: center;
    -fx-alignment: center;
}

#slider {
    -fx-block-increment: 5;
    -fx-snap-to-ticks: true;
    -fx-show-tick-labels: true;
    -fx-minor-tick-count: 0;
    -fx-major-tick-unit: 5;
    -fx-tick-label-font: 1.6em "dark forest";
    -fx-tick-label-fill: floralwhite;
}

.slider .track {
    -fx-background-color: rgb(233,185,110);
    -fx-effect: innershadow(one-pass-box, rgb(143,89,2), 10, 0, 0, -2.5);
}

.slider .axis {
    -fx-tick-label-fill: floralwhite;
    -fx-effect: dropshadow(one-pass-box, #2D2926, 0, 0, 2, 2);
}

.slider .thumb {
    -fx-background-color: rgb(233,185,110);
    -fx-effect: dropshadow(one-pass-box, #2D2926, 5, 0, 1, 1);
}

#buttonContainer {
    -fx-padding: 1em;
}

#backButton {
    -fx-font-size: 3em;
}
